<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="pronko_task" id="pronko_task">
			<module before="Magento_Backend" name="Pronko_Task"/>
		</route>
	</router>
</config>
